.reactions
	list-style-type: none
	margin-left: 1em
	&__item
		max-width: 14em
		min-width: 13.5em
		background-color: $darkercolor
		height: 2.8em
		margin-bottom: 1.2em
		padding-left: 0.5em
		line-height: 2.8em 
		color: $bgcolor
		box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8)
		transition: transform 0.3s linear 0s
		&:hover
			background-color: $accentcolor
			cursor: pointer
			box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5)
			transition: transform 0.3s linear 0s
			color: white
		&:active
			transform: translate(10px)