.reactions
	list-style-type: none
	padding-left: 1em
	&__item
		width: 14em
		background-color: $darkercolor
		height: 2.5em
		margin-bottom: 1em
		padding-left: 1em
		line-height: 2.5em 
		color: $bgcolor
		box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8)
		transition: transform 0.3s linear 0s
		&:hover
			background-color: $accentcolor
			cursor: pointer
			box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5)
			transition: transform 0.3s linear 0s
		&:active
			transform: translate(10px)