.reactions
	list-style-type: none
	margin-left: 1em
	&__item
		box-sizing: border-box
		background-color: $darkercolor
		min-height: 2.8em
		margin-bottom: 1.2em
		padding-left: 0.5em
		padding-top: 0.8em
		color: $bgcolor
		box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8)
		transition: transform 0.3s linear 0s
		&:hover
			background-color: $accentcolor
			cursor: pointer
			box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5)
			transition: transform 0.3s linear 0s
			color: white
		&:active
			transform: translate(10px)
		&--activated
			background-color: $accentcolor
			cursor: pointer
			transform: translate(10px)
			color: white
			box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5)