.main
	width: 100%
	padding: 3em 0
	font-family: $accentfont
	&__left-side
		width: calc(100%/12*9)
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__right-side
		width: calc(100%/12*3)