doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name="yandex-verification" content="3e759c71ca1531a3")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Компания БелБиоЛаб - производство ферментов для ПЦР
		link(rel="stylesheet", href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/main.css')
	body.body
		section.contacts
			.container
				p.contacts__content 
					i(class="fa fa-clock-o" aria-hidden="true") 
					|пн-пт 9:30 - 18:00
				p.contacts__content.contacts__content--middle
					i(class="fa fa-phone" aria-hidden="true") 
					|+7 (917) 598-31-02
				p.contacts__content.contacts__content--right
					i(class="fa fa-map-marker" aria-hidden="true") 
					|г. Москва, ул. Профсоюзная д.58/32
		section.header
			.container
				.header__logo
					img.header__logo-img(src = 'img/logo.png')
				nav.header__nav.nav
					a.nav__item(href="#aboutsection") о компании
		section.calltoaction
			.container.container--cta
					h2.calltoaction__header Выберите фермент или тип реакции
					
					hr.calltoaction__line
		section.main
			.container
				.main__left-side
					.ferment(id="taqa" data-reactions="r-hotstart, r-multiplex, r-pcrrv")
						h2.ferment__name Diamant Taq A
						hr.ferment__line
						p.ferment__desc Taq ДНК-полимераза с активацией при температуре выше 37&degC.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//- i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="taqd" data-reactions="r-hotstart, r-pcrrv, r-multiplex")
						h2.ferment__name Diamant Taq D
						hr.ferment__line 
						p.ferment__desc Taq ДНК-полимераза с активацией при температуре выше 60&degC.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="taq")
						h2.ferment__name Diamant Taq
						hr.ferment__line 
						p.ferment__desc Рекомбинантная Taq-ДНК-полимераза с активацией при температуре выше 74&degC. 
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="proteinasak")
						h2.ferment__name Протеиназа К
						hr.ferment__line
						p.ferment__desc Сухая протеиназа для удаления белковых примесей в препаратах нуклеиновых кислот.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="revertp" data-reactions="r-revert")
						h2.ferment__name Diamant RevertP
						hr.ferment__line
						p.ferment__desc Термофильная РНК-зависимая ДНК-полимераза.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="revertm" data-reactions="r-revert")
						h2.ferment__name Diamant RevertM
						hr.ferment__line
						p.ferment__desc MMLV H - РНК-зависимая ДНК-полимераза
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="blitz" data-reactions="r-lapcr, r-fastpcr, r-ingibitors")
						h2.ferment__name Diamant Blitz
						hr.ferment__line
						p.ferment__desc Термостабильный химерный фермент с ДНК-связывающим доменом.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="onestep" data-reactions="r-revert, r-hotstart, r-pcrrv, r-multiplex")
						h2.ferment__name 2X One-Step RT-PCR Mastermix
						hr.ferment__line
						p.ferment__desc Готовая смесь для ОТ - ПЦР.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="fastprobe" data-reactions="r-hotstart, r-pcrrv, r-fastpcr, r-ingibitors, r-multiplex")
						h2.ferment__name 2X Fast Probe qPCR Mastermix
						hr.ferment__line
						p.ferment__desc Готовая смесь для ПЦР.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							//-i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
				.main__right-side
					ul.reactions
						li.reactions__item(id="r-revert") Ревертирование
						li.reactions__item(id="r-lapcr") Точная и длинная ПЦР (LA PCR)
						li.reactions__item(id="r-hotstart") Горячий старт (Hot start)
						li.reactions__item(id="r-pcrrv") ПЦР-РВ с зондами Taqman
						li.reactions__item(id="r-fastpcr") Быстрая ПЦР
						li.reactions__item(id="r-ingibitors") ПЦР в присутствии ингибиторов
						li.reactions__item(id="r-multiplex") Мультиплексная ПЦР
		section.calltoaction
			.container.container--cta
					h2.calltoaction__header Для заказа ферментов просто позвоните нам!
					h2.calltoaction__header +7 (917) 598-31-02 или напишите belbiolab@gmail.com
		section.about#aboutsection
			.container.container--about
				h2.about__header О компании
				hr.about__line
				p.about__desc Компания БелБиоЛаб занимается разработкой и производством ферментов для полимеразных цепных реакций (ПЦР).
				p.about__desc Наша линейка включает различные ДНК-зависимые ДНК-полимеразы и РНК-зависимые ДНК-полимеразы (ревертазы), которые используются для проведения различных типов ПЦР:
				.about__list-box
					ul.about__list
						li 
							i(class="fa fa-check" aria-hidden="true") 
							| ПЦР с детекцией в режиме реального времени (ПЦР-РВ)
						li 
							i(class="fa fa-check" aria-hidden="true")
							| Одностадийный РТ-ПЦР
						li
							i(class="fa fa-check" aria-hidden="true")
							| Синтез кДНК 
		section.contacts
			.container
				p.contacts__content Все права защищены (с) 2017  БелБиоЛаб, ООО 
				p.contacts__content.contacts__content--middle 
					i(class="fa fa-clock-o" aria-hidden="true")
					|пн-пт 9:30 - 18:00
					i(class="fa fa-phone" aria-hidden="true") 
					| +7 (917) 598-31-02
				p.contacts__content.contacts__content--right 
					i(class="fa fa-map-marker" aria-hidden="true") 
					|г. Москва, ул. Профсоюзная д.58/32
		article.ferment-details.ferment-details--hidden(data-ferment="taqa")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Diamant TaqA ДНК полимераза
				hr.ferment-details__line
				p.ferment-details__desc Diamant TaqA ДНК полимераза представляет собой смесь термостабильного белка, весом 94 KDa, выделенного из рекомбинантного штамма E.coli, несущего ген полимеразы polA Thermus aquaticus YT1 и специфического ингибитора активности Taq ДНК-полимеразы. Diamant TaqA ДНК полимераза не обладает активностью в условиях приготовления ПЦР реакции, что приводит к улучшению специфичности и чувствительности по сравнению со стандартной Taq полимеразой. Активация фермента (диссоциация комплекса) происходит автоматически в процессе первого цикла денатурации ДНК (2 минуты при 95&degC). Длина синтезируемого фрагмента не должна превышать 5000 пар оснований.
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Штамм Thermus aquaticus YT1
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одна единица активности полимеразы, это количество фермента, необходимое для влючения 10 нмолей трифосфатов в кислото-нерастворимую фракцию в течение 30 минут, при 74&degC.
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 5 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 20mM Tris-HCl (pH 8.0); 100mM KCl; 0.1mM EDTA; 50% глицерин; 0,5 % Tween-20
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc Подходят все стандартные буферные системы, используемые со стандартной Taq ДНК-полимеразой.
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li мультиплекс-ПЦР;
								li «низкокопийная» амплификация ДНК;
								li высоко-специфичная ПЦР;
								li ПЦР с детекцией в режиме реального времени с двумеченными зондами по методу Taqman.
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаруживаются после инкубации в течение 2-х и 1-го часа, соответственно, 1 мкг, ДНК фага l и 0.22 мкг ДНК фага l, гидролизованного рестриктазой EcoR I, при 72C в присутствии 15-20 ед. активности Diamant TaqA ДНК полимеразы.
					tr
						td.ferment-table__header Условия хранения
						td.ferment-table__desc Diamant TaqA ДНК полимераза хранится при -20&degС. Diamant TaqA ДНК полимераза, находящаяся в поставляемом буфере выдерживает хранение при 37&degC в течение минимум 30 дней без потери активности и специфичноси амплификации.
					tr
						td.ferment-table__header Условия транспортировки
						td.ferment-table__desc Diamant TaqA ДНК полимеразу можно транспортировать при комнатной температуре.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 2 года с момента проведения тестирования (хранение при -200&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/taqa.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол амплификации
		article.ferment-details.ferment-details--hidden(data-ferment="taqd")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Diamant TaqD ДНК полимераза
				hr.ferment-details__line
				p.ferment-details__desc Diamant TaqD ДНК-полимераза представляет собой смесь термостабильного белка, весом 94 KDa, выделенного из рекомбинантного штамма E.coli, несущего ген полимеразы polA Thermus aquaticus YT1, и специфических мышиных моноклональных антител. Diamant TaqD ДНК-полимераза не обладает активностью в условиях приготовления ПЦР реакции, что приводит к улучшению специфичности и чувствительности по сравнению со стандартной Taq полимеразой. Два моноклональных антитела на 100% ингибируют активность фермента даже при инкубировании с субстратом в течение 1 часа при 55&degС. Активация фермента (диссоциация комплекса) происходит автоматически в процессе первого цикла денатурации ДНК (2 минуты при 95&degС).
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Штамм Thermus aquaticus YT1, Мышиные анти-Taq антитела
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одна единица активности полимеразы, это количество фермента, необходимое для включения 10 нмолей трифосфатов в кислото-нерастворимую фракцию в течение 30 минут, при 74&degC.
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 5 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 20mM Tris-HCl (pH 8.0); 100mM KCl; 0.1mM EDTA; 1mM DTT; 50% глицерин; 1% Tween-20
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc 
							ul.ferment-table__list
								li оптимизированный 10-кратный буфер «G»;
								li отдельно в набор входит раствор 25 (или 50 mM) MgCl
									sub 2 
									| для оптимизации условий амплификации.
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li мультиплекс-ПЦР-рекомендовано
								li «низкокопийная» амплификация ДНК
								li высоко-специфичная ПЦР
								li ПЦР с двумеченными зондами
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаруживаются после инкубации в течение 2-х и 1-го часа, соответственно, 1 мкг, ДНК фага l и 0.22 мкг ДНК фага l, гидролизованного рестриктазой EcoR I, при 72&degC в присутствии 15-20 ед. активности Diamant TaqD ДНК-полимераза.
					tr
						td.ferment-table__header Условия хранения и транспортировки
						td.ferment-table__desc Diamant TaqD ДНК-полимераза хранится при -20&degС. Транспортировка допускается при комнатной температуре. Транспортировка более 3-х дней желательно осуществлять при температуре +4&degC.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/taqd.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол рутинной амплификации
		article.ferment-details.ferment-details--hidden(data-ferment="taq")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Taq ДНК полимераза
				hr.ferment-details__line
				p.ferment-details__desc Taq ДНК-полимераза представляет собой термостабильный белок весом 94 KDa, выделенный из рекомбинантного штамма E.coli, несущего ген полимеразы polA Thermus aquaticus YT1.
				table.ferment-table
					tr
						td.ferment-table__header Состав
						td.ferment-table__desc 
							ul.ferment-table__list
								li Taq ДНК-полимераза – 5 ед/мкл, 1 мл (5000 единиц);
								li 10-кратный буфер «A», содержащий (NH
									sub 4
									|)
									sub 2
									|SO
									sub 4
									|, 25 мл.;
								li 50 mM MgCl
									sub 2
									|, 25 мл.
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одна единица активности полимеразы, это количество фермента, необходимое для влючения 10 нмолей трифосфатов в кислото-нерасворимую фракцию в течение 30 минут, при 74&degC
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 5 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 20 mM Tris-HCl (pH 8.0);100mM KCl; 50% глицерин; 0,5% Tween-20
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаруживаются после инкубации в течение 2-х и 1-го часа, соответственно, 1 мкг, ДНК фага l и 0.22 мкг ДНК фага l, гидролизованного рестриктазой EcoR I, при 72&degC в присутствии 20 ед. активности Taq ДНК-полимеразы.
					tr
						td.ferment-table__header Условия хранения 
						td.ferment-table__desc Taq ДНК-полимераза хранится при -20&degС.
					tr
						td.ferment-table__header Условия транспортировки 
						td.ferment-table__desc Taq ДНК-полимеразу можно транспортировать при комнатной температуре. Длительную транспортировку более 3-х дней, необходимо осуществлять при температуре +4&degC.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/taq.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										|Протокол рутинной амплификации
		article.ferment-details.ferment-details--hidden(data-ferment="proteinasak")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Протеиназа К
				hr.ferment-details__line
				p.ferment-details__desc Протеиназа К является сериновой протеазой массой 28,9 кДа, продуцируемой рекомбинантным штаммом Pichia pastoris, несущим ген протеназы К Tritirachium album. Фермент обладает широкой субстратной специфичностью в отношении большого количества белков, осуществляя гидролиз полипептидной цепи преимущественно по сайтам, содержащим неполярные аминосилоты.
				table.ferment-table
					tr
						td.ferment-table__header Состав
						td.ferment-table__desc Протеиназа К – 1 гр (40 ед/мг);
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Штамм Tritirachium album
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одна единица активности протеиназы - это количество фермента, необходимое для гидролиза 1 мкмоля азаказеина в течение 20 минут, при 37&degC.
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 10mM Трис-HCl (pH 7.5); 2 mM CaCl
							sub 2
							|; 50% глицерин
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li удаление белковых примесей в препаратах нуклеиновых кислот;
								li расщепление и инактивация нуклеазы в препаратах ДНК и РНК.
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаружены.
					tr
						td.ferment-table__header Условия хранения
						td.ferment-table__desc Протеиназа К хранится при температурах от -20&degС до 4&degС. Допускается хранение при комнатной температуре в течение 6 месяцев.
					tr
						td.ferment-table__header Условия транспортировки
						td.ferment-table__desc Протеиназу К можно транспортировать при комнатной температуре.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
		article.ferment-details.ferment-details--hidden(data-ferment="revertp")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Diamant RevertP РНК-зависимая ДНК-полимераза
				hr.ferment-details__line
				p.ferment-details__desc Diamant RevertP полимераза представляет собой белок, выделенный из рекомбинантного штамма E.coli, несущего ген данной полимеразы. Полимераза обладает 3'-5'-обратно-транскриптазной и 5'-3'-полимеразной активностью, способна осуществлять амплификацию с одновременным вытеснением впереди лежащей на матрице комплиментарной цепи ДНК (strand displacement), у фермента отсутствует 3'-5'-экзонуклеазная активность.
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Бактериофаг
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одна единица активности полимеразы условно равна:
							ul.ferment-table__list
								li 1 ед обратной транскриптазы MMLV при 37&degС в реакции элонгации oligodT12 праймера
								li 1U Taq-полимеразы в реакции элонгации специфического ДНК олигонуклеотида при 60&degС
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 10 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 50 mM Tris-HCl (pH 7.5); 1 mM EDTA; 0.5 mM DTT; 50% глицерин; 0.1 % Tween-20
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc Применяется входящий в комплект 10-кратный буфер TG, содержащий 3 mM MgCl
							sub 2
							| в 1Х концентрации
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li LAMP-амплификация
								li One-Step RT-PCR
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаруживаются после инкубации в течение 2-х и 1-го часа, соответственно, 1 мкг, ДНК фага l и 0.22 мкг ДНК фага l, гидролизованного рестриктазой EcoR I, при 72&degC в присутствии 15-20 ед. активности • Diamant RevertP Полимеразы.
					tr
						td.ferment-table__header Условия хранения
						td.ferment-table__desc Diamant RevertP полимераза хранится при -20&degС.
					tr
						td.ferment-table__header Условия транспортировки
						td.ferment-table__desc Транспортировку Diamant RevertP полимеразы осуществляют при +4&degС.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC)
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/revertp.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол реакции обратной транскрипции и ПЦР-РВ
		article.ferment-details.ferment-details--hidden(data-ferment="revertm")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Diamant RevertM РНК-зависимая ДНК-полимераза
				hr.ferment-details__line
				p.ferment-details__desc Diamant RevertM обратная транскриптаза (RNase H-) представляет собой белок весом 77 KDa, выделенный из рекомбинантного штамма E.coli, несущего ген обратной транскриптазы вируса мышиной лейкимии Молони.
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Вирус лейкимии мышей Молони.
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 200 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 25mM Tris-HCl (pH 7.5); 100mM KCl; 50% глицерин; 0,05% Tween-20; 200 ug/ml polyA.
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc 500 mM Tris-HCl (pH 8.8); 700 mM KCl; 0.5 % Tween-20 или входящий в комплект 10-кратный буфер TG
					tr
						td.ferment-table__header Активность рибонуклеазы Н
						td.ferment-table__desc Отсутствует
					tr
						td.ferment-table__header Оптимум температур
						td.ferment-table__desc Фермент сохраняет активность до 65&degC
					tr
						td.ferment-table__header Условия хранения
						td.ferment-table__desc Diamant RevertM обратная транскриптаза хранится при -20&degС
					tr
						td.ferment-table__header Условия транспортировки
						td.ferment-table__desc Транспортирование Diamant RevertM обратной транскриптазы осуществляется при температуре окружающей среды, но не выше 25&degС (до 5 суток) или при температуре +4&degС (до 30 суток).
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/revertm.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Скачать протокол синтеза кДНК
		article.ferment-details.ferment-details--hidden(data-ferment="blitz")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header Diamant Blitz -химерная ДНК полимераза для высокоточной ПЦР
				hr.ferment-details__line
				p.ferment-details__desc Diamant Blitz ДНК полимераза представляет собой термостабильный химерный белок, полученный путем слияния двух белков: ДНК-полимеразы класса В Pyrococcus furiosus (pfu-полимеразы) и неспецифического ДНК-связывающего домена Sulfolobus solfataricus (sso7d). Наличие дополнительного sso7d домена приводит к увеличению процессивности полимеразы (время элонгации может быть снижено до 15 сек для амплификации фрагмента длиной 1 kbp) и к повышенной резистентности фермента к ингибиторам ПЦР (например, к крови). Высокая точность синтеза, присущая ферменту и возможность амплифицировать длинные матрицы делает его пригодным для использования в реакциях введения мутаций и безлигазного клонирования генов и библиотек генов.
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc Штаммы Pyrococcus furiosus, Sulfolobus solfataricus
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc Одной единицы активности Diamant Blitz достаточно для проведения реакции амплификации в объеме 50 мкл. Иногда может потребоваться дополнительная оптимизация количества фермента (0,25 – 1,5 ед на 50 мкл) для улучшения специфичности ПЦР.
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 2 ед/мкл
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 20mM Tris-HCl (pH 8.0); 100mM KCl; 0.1mM EDTA; 1mM DTT; 50% глицерин, 1% Tween-20
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc Оптимизированный 2,5-кратный буфер HF, включающий в свой состав MgCl
							sub 2
							| и смесь дНТФ в конечных концентрациях 2 mM и 0,2 mM соответственно. В буфер входит специальный энхансер ПЦР, приводящий к лучшему выходу продукта при использовании сложных и плохо-очищенных матриц. Отдельно в набор входит раствор 50 mM MgCl
							sub 2
							|  для оптимизации условий амплификации.
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li Высокоточный ПЦР;
								li ПЦР длинных фрагментов (>10 kbp);
								li «Direct-ПЦР» с использованием в качестве матрицы ЭДТА-стабилизированной крови (до 15%).
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc Эндо- и экзонуклеазные активности не обнаруживаются после инкубации в течение 2-х и 1-го часа, соответственно, 1 мкг, ДНК фага l и 0.22 мкг ДНК фага l, гидролизованного рестриктазой EcoR I, при 72&degC в присутствии 15-20 ед. активности Diamant Blitz ДНК полимеразы.
					tr
						td.ferment-table__header Условия хранения и транспортировки
						td.ferment-table__desc Diamant Blitz ДНК полимераза хранится при -20&degС. Транспортировка возможна при комнатной температуре. Длительная транспортировка (более 3-х дней) осуществлять при температуре +4&degС.
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/blitz.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол рутинной амплификации и Протокол ПЦР
		article.ferment-details.ferment-details--hidden(data-ferment="onestep")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header 2X One-Step RT-PCR Mastermix
				hr.ferment-details__line
				p.ferment-details__desc 
				table.ferment-table
					tr
						td.ferment-table__header Источник
						td.ferment-table__desc 
					tr
						td.ferment-table__header Единица активности
						td.ferment-table__desc 
					tr
						td.ferment-table__header Концентрация
						td.ferment-table__desc 
					tr
						td.ferment-table__header Буфер для хранения и разведения
						td.ferment-table__desc 
					tr
						td.ferment-table__header Буфер для амплификации 10X
						td.ferment-table__desc 
					tr
						td.ferment-table__header Область применения
						td.ferment-table__desc 
							ul.ferment-table__list
								li 
								li 
								li 
					tr
						td.ferment-table__header Сопутствующие активности
						td.ferment-table__desc 
					tr
						td.ferment-table__header Условия хранения и транспортировки
						td.ferment-table__desc 
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="#")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол 
		article.ferment-details.ferment-details--hidden(data-ferment="fastprobe")
			.ferment-details__box
				p.ferment-details__close Закрыть окно [x]
				h2.ferment-details__header 2X Fast Probe qPCR Mastermix
				hr.ferment-details__line
				p.ferment-details__desc 2X Fast Probe qPCR Mastermix представляет собой универсальную готовую к использованию смесь для количественной и/или качественной ПЦР с детекцией результатов в режиме реального времени (далее ПЦР-РВ). Премикс содержит все основные реагенты, включая термостабильную ДНК-полимеразу с «горячим стартом», дНТФ и оптимизированный буфер. Использование смеси Fast Probe qPCR Mastermix в ПЦР-РВ обеспечивает получение воспроизводимых результатов с высокой чувствительностью (единичные копии ДНК) при определении геномной, плазмидной, вирусной и кДНК.
				p.ferment-details__desc В набор входит специальная полимераза, инактивированная ингибитором Taq ДНК-полимеразы. Активация фермента происходит автоматически при достижении температуры выше 40&degC.
				p.ferment-details__desc Набор обеспечивает проведение мультиплексной ПЦР-РВ (до 4 одновременно детектируемых мишеней). При постановке мультиплексных реакций рекомендуется оптимизация количества олигонуклеотидов и зонда для каждой мишени.
				table.ferment-table
					tr
						td.ferment-table__header Рекомендации по постановке ПЦР-РВ
						td.ferment-table__desc 
							ul.ferment-table__list
								li Используйте до 500 нг геномной ДНК и до 10 нг плазмидной ДНК;
								li Мы рекомендуем ставить реакцию в объеме 25 мкл;
								li Приготовление общей реакционной смеси, включающей все компоненты (кроме ДНК) помогает избегать ошибок пипетирования;
								li Используйте программы для дизайна олигонуклеотидов и зондов, такие как PrimerExpress или 
									a(href="http://bioinfo.ut.ee/primer3/" target="blanc") Primer3;
								li Обязательно включайте в анализ контроль NTC (no template control) – реакция, содержащая все компоненты кроме ДНК;
								li Компоненты реакции можно смешивать при комнатной температуре;
					tr
						td.ferment-table__header Условия хранения
						td.ferment-table__desc Хранить при -20&degС для длительного хранения.
					tr
						td.ferment-table__header Условия транспортировки
						td.ferment-table__desc Транспортирование 2X Fast Probe qPCR Mastermix осуществляется при температуре окружающей среды, но не выше 25&degС (до 5 суток) или при температуре +4&degС (до 30 суток).
					tr
						td.ferment-table__header Срок годности
						td.ferment-table__desc 1 год со дня проведения тестирования (хранение при -20&degC).
					tr
						td.ferment-table__header Документы
						td.ferment-table__desc
							ul.ferment-details__downloads
								li.ferment-details__download-item
									a.ferment-details__link(href="files/fastprobe.pdf")
										i(class="fa fa-file-pdf-o" aria-hidden="true")
										| Протокол постановки ПЦР с 2X Fast Probe qPCR Mastermix
		script(src="js/scripts.js")
		script(type='text/javascript').
			(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter45352539 = new Ya.Metrika({
			id:45352539,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true,
			trackHash:true
			});
			} catch(e) { }
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src='https://mc.yandex.ru/watch/45352539', style='position:absolute; left:-9999px;', alt='')
