<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Белбиолаб - ферменты для молекулярной биологии
		link(rel="stylesheet", href='css/normalize.css')
		link(rel="stylesheet", href='css/font-awesome.min.css')
		link(rel="stylesheet", href='css/styles.css')
	body
			header.v2header
				.v2header__wrapper
					img.v2header__logo(src="img/logo.png", alt="Логотип БелБиоЛаб")
					.v2header__contacts
						i(class="fa fa-phone" aria-hidden="true") 
						|+7 (917) 598-31-02
						i(class="fa fa-map-marker" aria-hidden="true") 
						|г. Москва, ул. Профсоюзная д.58/32
			article.v2intro
				header.v2intro__bg
					h1.v2intro__heading БелБиоЛаб - поставки ферментов для молекулярной биологии в больших объемах
					.v2intro__body 
						P.v2intro__text Наша линейка включает различные ДНК- и РНК-зависимые полимеразы, химерные ферменты, готовые смеси для ПЦР и ОТ-ПЦР и др. Методики выходного контроля качества, форма поставки, концентрация фермента, состав буферных систем и другие технические характеристики продукции можем адаптировать под потребности заказчика.
					.v2intro__buttons
						a(href="#").v2button Связаться с нами
						a(href="#").v2button Каталог продукции
			article.v2article
				header.v2article__header.v2article__header--taqa
					.v2article__headind-bg
						h2.v2article__heading Diamant TaqA ДНК полимераза
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--taqd
					.v2article__headind-bg
						h2.v2article__heading Diamant TaqD ДНК полимераза
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--taq
					.v2article__headind-bg
						h2.v2article__heading Diamant Taq ДНК полимераза
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--proteinazek
					.v2article__headind-bg
						h2.v2article__heading Протеиназа К
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--diamantrevertp
					.v2article__headind-bg
						h2.v2article__heading Diamant RevertP РНК-зависимая ДНК-полимераза
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--diamantrevertm
					.v2article__headind-bg
						h2.v2article__heading Diamant RevertM РНК-зависимая ДНК-полимераза
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--blitz
					.v2article__headind-bg
						h2.v2article__heading Diamant Blitz -химерная ДНК полимераза для высокоточной ПЦР
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--onestep
					.v2article__headind-bg
						h2.v2article__heading 2X One-Step RT-PCR Mastermix
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			article.v2article
				header.v2article__header.v2article__header--fastprobe
					.v2article__headind-bg
						h2.v2article__heading 2X Fast Probe qPCR Mastermix
				.v2article__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident ad et, tempore eaque eligendi, odit magni iste cumque soluta nam aut? Labore earum placeat aperiam laudantium, dolore in accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere, atque quas aperiam eligendi ex autem sed cumque omnis sunt, fugit culpa rerum quos exercitationem consequuntur officia quidem molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis, quas. Rem dolore magnam quo ducimus dolorum assumenda blanditiis qui, voluptatum sunt, quae aliquid numquam tenetur, beatae quos illum perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab recusandae, exercitationem. Voluptatum perferendis, soluta odit quo officiis. Eum nihil perferendis est quis saepe, minus odio harum possimus expedita, culpa hic.
			footer.v2footer