doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Компания БелБиоЛаб - производство ферментов для ПЦР
		link(rel="stylesheet", href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/main.css')
	body.body
		section.contacts
			.container
				p.contacts__content 
					i(class="fa fa-clock-o" aria-hidden="true") 
					|пн-пт 9:30 - 18:00
				p.contacts__content.contacts__content--middle
					i(class="fa fa-phone" aria-hidden="true") 
					|+7 (915) 114-23-33
				p.contacts__content.contacts__content--right
					i(class="fa fa-map-marker" aria-hidden="true") 
					|г. Москва, ул. Профсоюзная д.58/32
		section.header
			.container
				.header__logo
					img.header__logo-img(src = 'img/logo.png')
				nav.header__nav.nav
					a.nav__item(href="#aboutsection") о компании
		section.calltoaction
			.container.container--cta
					h2.calltoaction__header Выберите фермент или тип реации
					
					hr.calltoaction__line
		section.main
			.container
				.main__left-side
					.ferment(id="taqa" data-reactions="r-hotstart, r-multiplex, r-pcrrv")
						h2.ferment__name Diamant Taq A
						hr.ferment__line
						p.ferment__desc Taq ДНК-полимераза с активацией при температуре выше 37 градусов.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="taqd" data-reactions="r-hotstart, r-pcrrv, r-multiplex")
						h2.ferment__name Diamant Taq D
						hr.ferment__line 
						p.ferment__desc Taq ДНК-полимераза с активацией при температуре выше 60° градусов.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="taq")
						h2.ferment__name Diamant Taq
						hr.ferment__line 
						p.ferment__desc Taq ДНК-полимераза с активацией при температуре выше 74 градусов. 
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="proteinasak")
						h2.ferment__name Протеиназа К
						hr.ferment__line
						p.ferment__desc Сухая протеиназа для удаления белковой примеси в препаратах нуклеиновых кислот.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="revertp" data-reactions="r-revert")
						h2.ferment__name Diamant RevertP
						hr.ferment__line
						p.ferment__desc Термофильная РНК-зависимая ДНК-полимераза.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="revertm" data-reactions="r-revert")
						h2.ferment__name Diamant RevertM
						hr.ferment__line
						p.ferment__desc MMLV H - РНК-зависимая ДНК-полимераза
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="blitz" data-reactions="r-lapcr, r-fastpcr, r-ingibitors")
						h2.ferment__name Diamant Blitz
						hr.ferment__line
						p.ferment__desc Термостабильный химерный фермент с ДНК-связывающим доменом.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="onestep" data-reactions="r-revert, r-hotstart, r-pcrrv, r-multiplex")
						h2.ferment__name 2X One-Step RT-PCR Mastermix
						hr.ferment__line
						p.ferment__desc Готовая смесь дляОТ - ПЦР.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					.ferment(id="fastprobe" data-reactions="r-hotstart, r-pcrrv, r-fastpcr, r-ingibitors, r-multiplex")
						h2.ferment__name 2X Fast Probe qPCR Mastermix
						hr.ferment__line
						p.ferment__desc Готовая смесь для ПЦР.
						p.ferment__info
							i(class="fa fa-info-circle" aria-hidden="true")
							i(class="fa fa-file-text-o" aria-hidden="true")
						p.ferment__reactions.ferment__reactions--hidden some text
					article.ferment-details.ferment-details--hidden(data-ferment="taqa")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="taqd")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqD ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="taq")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="proteinasak")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="revertp")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="revertm")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="blitz")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="onestep")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
					article.ferment-details.ferment-details--hidden(data-ferment="fastprobe")
						.ferment-details__box
							p.ferment-details__close Закрыть окно [x]
							h2.ferment-details__header Diamant TaqA ДНК полимераза
							hr.ferment-details__line
							p.ferment-details__desc 
							table.ferment-table
								tr
									td.ferment-table__header Источник
									td.ferment-table__desc 
								tr
									td.ferment-table__header Единица активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Концентрация
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для хранения и разведения
									td.ferment-table__desc 
								tr
									td.ferment-table__header Буфер для амплификации 10X
									td.ferment-table__desc 
								tr
									td.ferment-table__header Область применения
									td.ferment-table__desc 
										ul
											li 
											li 
											li 
								tr
									td.ferment-table__header Сопутствующие активности
									td.ferment-table__desc 
								tr
									td.ferment-table__header Условия хранения и транспортировки
									td.ferment-table__desc 
								tr
									td.ferment-table__header Срок годности
									td.ferment-table__desc 
							p.ferment-details__downloads
								i(class="fa fa-file-pdf-o" aria-hidden="true")
								| Скачать протокол 
				.main__right-side
					ul.reactions
						li.reactions__item(id="r-revert") Ревертирование
						li.reactions__item(id="r-lapcr") Точная и длинная ПЦР (LA PCR)
						li.reactions__item(id="r-hotstart") Горячий старт (Hot start)
						li.reactions__item(id="r-pcrrv") ПЦР-РВ с зондами Taqman
						li.reactions__item(id="r-fastpcr") Быстрая ПЦР
						li.reactions__item(id="r-ingibitors") ПЦР в присутствии ингибиторов
						li.reactions__item(id="r-multiplex") Мультиплексная ПЦР
		section.calltoaction
			.container.container--cta
					h2.calltoaction__header Для заказа ферментов просто позвоните нам!
					h2.calltoaction__header +7 (915) 114-23-33
		section.about#aboutsection
			.container.container--about
				h2.about__header О компании
				hr.about__line
				p.about__desc Компания БелБиоЛаб занимается разработкой и производством ферментов для полимеразных цепных реакций (ПЦР).
				p.about__desc Наша линейка включает различные ДНК-зависимые ДНК-полимеразы и РНК-зависимые ДНК-полимеразы (ревертазы), которые используются для проведения различных типов ПЦР:
				.about__list-box
					ul.about__list
						li 
							i(class="fa fa-check" aria-hidden="true") 
							| ПЦР с детекцией в режиме реального времени (ПЦР-РВ)
						li 
							i(class="fa fa-check" aria-hidden="true")
							| Одностадийный РТ-ПЦР
						li
							i(class="fa fa-check" aria-hidden="true")
							| Синтез кДНК 
		section.contacts
			.container
				p.contacts__content Все права защищены (с) 2017  БелБиоЛаб, ООО 
				p.contacts__content.contacts__content--middle 
					i(class="fa fa-clock-o" aria-hidden="true")
					|пн-пт 9:30 - 18:00
					i(class="fa fa-phone" aria-hidden="true") 
					| +7 (915) 114-23-33
				p.contacts__content.contacts__content--right 
					i(class="fa fa-map-marker" aria-hidden="true") 
					|г. Москва, ул. Профсоюзная д.58/32