.v2article
	background-color: $bgcolor
	display: flex
	flex-direction: column
	align-items: center
	&__body
		background-color: $bgcolor
		color: $txtcolor
		font-size: 1em
		font-family: $txtfont
		width: 100%
		max-width: $contw
		padding: $contpadding
		text-align: justify
		