@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0; }

.body {
  color: #252525;
  background-color: #b2ebf2;
  font-size: 1em;
  font-family: "Roboto", sans-serif; }

.contacts {
  font-size: 12px;
  width: 100%;
  height: 2em;
  background-color: #0097a7;
  color: white;
  padding-top: calc(2em/2 - 6px); }
  .contacts__content {
    width: 33%;
    display: inline-block; }
    .contacts__content--middle {
      text-align: center; }
    .contacts__content--right {
      text-align: right; }

.fa {
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-left: 1em; }

.header {
  background-color: #b2ebf2;
  width: 100%;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.8); }
  .header__logo {
    width: 50%; }
  .header__nav {
    width: 50%;
    padding-left: 2em; }

.nav {
  text-align: right;
  font-size: 20px;
  padding-top: 32px; }
  .nav__item {
    text-decoration: none;
    margin-left: 1em;
    color: #0097a7; }
    .nav__item:hover {
      color: #ff5722; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px; }
  .container--cta {
    display: block; }
  .container--about {
    display: block;
    text-align: center;
    padding: 3em 0; }

.calltoaction {
  width: 100%;
  background-color: #0097a7;
  background: url(../img/calltoaction--01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0.7em 0;
  -webkit-box-shadow: inset 0px 1px 15px 1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 1px 15px 1px rgba(0, 0, 0, 0.8); }
  .calltoaction__header {
    font-size: 2.5em;
    font-weight: 400; }
  .calltoaction__subheader {
    font-weight: 400; }
  .calltoaction__line {
    width: 20%;
    margin: 0.5em auto;
    height: 2px;
    background-color: #ff5722;
    border: 0; }

.main {
  width: 100%;
  padding: 3em 0;
  font-family: "Roboto Condensed", sans-serif; }
  .main__left-side {
    width: calc(100%/12*9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main__right-side {
    width: calc(100%/12*3); }

.reactions {
  list-style-type: none;
  margin-left: 1em; }
  .reactions__item {
    max-width: 14em;
    min-width: 13.5em;
    background-color: #0097a7;
    height: 2.8em;
    margin-bottom: 1.2em;
    padding-left: 0.5em;
    line-height: 2.8em;
    color: #b2ebf2;
    -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
    -webkit-transition: -webkit-transform 0.3s linear 0s;
    transition: -webkit-transform 0.3s linear 0s;
    -o-transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s; }
    .reactions__item:hover {
      background-color: #ff5722;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-transform 0.3s linear 0s;
      transition: -webkit-transform 0.3s linear 0s;
      -o-transition: transform 0.3s linear 0s;
      transition: transform 0.3s linear 0s;
      transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
      color: white; }
    .reactions__item:active {
      -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
      transform: translate(10px); }
    .reactions__item--activated {
      background-color: #ff5722;
      cursor: pointer;
      -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
      transform: translate(10px);
      color: white;
      -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5); }

.ferment {
  min-width: calc( 100%/3.2);
  max-width: calc( 100%/3.2);
  height: 200px;
  background-color: white;
  margin-bottom: 1em;
  -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  position: relative;
  text-align: center; }
  .ferment__line {
    width: 25%;
    margin: 1em auto;
    background-color: #ff5722;
    height: 1px;
    border: 0; }
  .ferment__desc {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em; }
  .ferment__info {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em; }
  .ferment__reactions {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em; }
  .ferment__reactions--hidden {
    display: none; }
  .ferment__reactions--visible {
    display: block; }
  .ferment:hover {
    cursor: pointer; }

.ferment:hover > .ferment__info > .fa-info-circle {
  color: #ff5722;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

.fa-info-circle, .fa-file-text-o {
  margin-left: 5px;
  color: #0097a7;
  -webkit-transition: -webkit-transform 0.3s linear 0s;
  transition: -webkit-transform 0.3s linear 0s;
  -o-transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s; }

.fa-file-text-o:hover {
  color: #ff5722;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

.about__header {
  text-transform: uppercase;
  color: #0097a7; }

.about__line {
  width: 10%;
  margin: 0.5em auto 1em auto;
  height: 2px;
  background-color: #ff5722;
  border: 0; }

.about__desc {
  margin: 1em auto; }

.about__list-box {
  display: inline-block; }

.about__list {
  font-size: 1rem;
  text-align: left;
  list-style-type: none; }

.fa-check {
  margin-right: 1em;
  color: #ff5722; }

.ferment-details {
  position: absolute;
  max-width: 855px;
  min-width: 855px;
  height: 690px;
  -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  background-color: white; }
  .ferment-details--hidden {
    display: none; }
  .ferment-details--visible {
    display: block; }
  .ferment-details__box {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0.9em; }
  .ferment-details__header {
    text-align: center;
    color: #0097a7;
    font-family: "Roboto", sans-serif; }
  .ferment-details__line {
    width: 20%;
    margin: 0.5em auto;
    height: 2px;
    background-color: #ff5722;
    border: 0; }
  .ferment-details__desc {
    text-align: justify;
    margin-bottom: 1em; }
  .ferment-details__downloads {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    font-weight: bold; }
    .ferment-details__downloads:hover {
      cursor: pointer;
      color: #ff5722; }
  .ferment-details__close {
    text-align: right;
    font-weight: bold; }
    .ferment-details__close:hover {
      color: #ff5722;
      cursor: pointer; }

.ferment-table {
  width: 100%; }
  .ferment-table__header {
    color: #0097a7;
    width: 20%;
    text-transform: uppercase;
    vertical-align: top; }
  .ferment-table__desc {
    padding: 0.3em 1em;
    width: 80%; }
