@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0; }

.body {
  color: #252525;
  background-color: #b2ebf2;
  font-size: 1em;
  font-family: "Roboto", sans-serif; }

.contacts {
  font-size: 12px;
  width: 100%;
  height: 2em;
  background-color: #0097a7;
  color: white;
  padding-top: calc(2em/2 - 6px); }
  .contacts__content {
    width: 33%;
    display: inline-block; }
    .contacts__content--middle {
      text-align: center; }
    .contacts__content--right {
      text-align: right; }

.fa {
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-left: 1em; }

.header {
  background-color: #b2ebf2;
  width: 100%; }
  .header__logo {
    width: 50%; }
  .header__nav {
    width: 50%;
    padding-left: 2em; }

.nav {
  text-align: right;
  font-size: 20px;
  padding-top: 32px; }
  .nav__item {
    text-decoration: none;
    margin-left: 1em;
    color: #0097a7; }
    .nav__item:hover {
      color: #ff5722; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px; }
  .container--cta {
    display: block; }

.calltoaction {
  width: 100%;
  background-color: #0097a7;
  background: url(../img/calltoaction--01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0.7em 0; }
  .calltoaction__header {
    font-size: 2.5em;
    font-weight: 400; }
  .calltoaction__subheader {
    font-weight: 400; }
  .calltoaction__line {
    width: 20%;
    margin: 0.5em auto;
    height: 2px;
    background-color: #ff5722;
    border: 0; }

.main {
  width: 100%;
  padding-top: 1em;
  font-family: "Roboto Condensed", sans-serif; }
  .main__left-side {
    outline: 1px solid red;
    width: calc(100%/12*9); }
  .main__right-side {
    width: calc(100%/12*3); }

.reactions {
  list-style-type: none;
  margin-left: 2em; }
  .reactions__item {
    width: 14em;
    background-color: #0097a7;
    height: 2.5em;
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 2.5em;
    color: #b2ebf2;
    -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.8);
    -webkit-transition: -webkit-transform 0.3s linear 0s;
    transition: -webkit-transform 0.3s linear 0s;
    -o-transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s; }
    .reactions__item:hover {
      background-color: #ff5722;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-transform 0.3s linear 0s;
      transition: -webkit-transform 0.3s linear 0s;
      -o-transition: transform 0.3s linear 0s;
      transition: transform 0.3s linear 0s;
      transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s; }
    .reactions__item:active {
      -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
      transform: translate(10px); }
