@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

.fa-phone, .fa-map-marker {
  padding: 0 1em 0 2em; }

.v2header {
  width: 100%;
  background-color: black;
  padding: 0.5em 1em;
  color: #ff5722;
  position: fixed;
  z-index: 5; }
  .v2header__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Roboto;
    font-size: 0.8em; }

.v2lang {
  width: 6em;
  height: 2em;
  border: 1px solid #ff5722;
  -webkit-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative; }
  .v2lang__lang {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #ff5722; }
    .v2lang__lang--ru {
      left: 0; }
    .v2lang__lang--en {
      right: 0; }
  .v2lang__text {
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    display: block;
    width: 50%;
    text-align: center;
    line-height: 2em; }
  .v2lang:hover {
    cursor: pointer; }

.v2nav--hidden {
  position: fixed;
  width: 4vw;
  height: 35vw;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ff5722;
  border-right: none;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5); }
  .v2nav--hidden:hover {
    cursor: pointer; }
  .v2nav--hidden::after {
    content: 'каталог продукции';
    color: white;
    width: 35vw;
    height: 4vw;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    letter-spacing: 0.4em;
    font-weight: 700;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .v2nav--hidden:hover::after {
    color: #ff5722; }
  .v2nav--hidden::before {
    content: '\f104 \f104';
    font-family: FontAwesome;
    display: block;
    color: white;
    position: absolute;
    top: 1vw;
    font-size: 1.5em;
    -webkit-animation: arrow 0.8s linear infinite;
    animation: arrow 0.8s linear infinite;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .v2nav--hidden:hover::before {
    -webkit-animation: arrow paused;
    animation: arrow paused;
    color: #ff5722; }

@-webkit-keyframes arrow {
  0% {
    right: 1.0vw; }
  40% {
    right: 1.5vw;
    color: #ff5722; }
  100% {
    right: 1vw; } }

@keyframes arrow {
  0% {
    right: 1.0vw; }
  40% {
    right: 1.5vw;
    color: #ff5722; }
  100% {
    right: 1vw; } }

.v2intro {
  color: white;
  padding: 5em;
  background-image: url(/img/bg/DSC04797.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-box-shadow: inset 10px 0 30px 20px black;
  box-shadow: inset 10px 0 30px 20px black; }
  .v2intro__heading {
    font-family: 'Roboto Condensed';
    text-align: center; }
    .v2intro__heading::first-letter {
      color: #ff5722;
      font-size: 120%; }
  .v2intro__body {
    font-family: 'Roboto';
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
    padding: 3em;
    width: 80%;
    margin: 0 auto; }
  .v2intro__text {
    padding-top: 1em;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg); }
  .v2intro__buttons {
    font-family: 'Roboto Condensed';
    margin-top: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 70%;
    margin: 2em auto; }

.v2button {
  text-decoration: none;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  outline: 1px solid #ff5722;
  padding: 0.8em 2em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); }
  .v2button:hover {
    color: white; }
    .v2button:hover::after {
      opacity: 1;
      -webkit-transform: skewx(60deg);
      -ms-transform: skewx(60deg);
      transform: skewx(60deg); }
  .v2button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #ff5722;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: skewx(360deg);
    -ms-transform: skewx(360deg);
    transform: skewx(360deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; }

.v2article {
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .v2article__header {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vw;
    max-height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .v2article__header--taqa {
      background-image: url(/img/bg/DSC04357.jpg); }
    .v2article__header--taqd {
      background-image: url(/img/bg/DSC04364.jpg); }
    .v2article__header--taq {
      background-image: url(/img/bg/DSC04426.jpg); }
    .v2article__header--proteinazek {
      background-image: url(/img/bg/DSC04471.jpg); }
    .v2article__header--diamantrevertp {
      background-image: url(/img/bg/DSC04536.jpg); }
    .v2article__header--diamantrevertm {
      background-image: url(/img/bg/DSC04573.jpg); }
    .v2article__header--blitz {
      background-image: url(/img/bg/DSC04611.jpg); }
    .v2article__header--onestep {
      background-image: url(/img/bg/DSC04638.jpg); }
    .v2article__header--fastprobe {
      background-image: url(/img/bg/DSC04685.jpg); }
  .v2article__headind-bg {
    background-color: rgba(0, 0, 0, 0.8);
    width: 60vw;
    max-width: 1000px;
    text-align: center;
    padding: 1em;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg); }
    .v2article__headind-bg--intro {
      -webkit-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      transform: skewX(0deg);
      background-color: transparent;
      width: 80vw;
      max-width: 1170px;
      padding-left: 5em;
      padding-right: 5em; }
  .v2article__heading {
    font-family: 'Roboto Condensed';
    color: white;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    font-size: 1.5em; }
    .v2article__heading::first-letter {
      color: #ff5722;
      font-size: 120%; }
  .v2article__body {
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: 'Roboto';
    width: 100%;
    max-width: 1280px;
    padding: 2em 6vw;
    text-align: justify; }
