.contacts
	font-size: 12px
	width: 100%
	height: 2em
	background-color: $darkercolor
	font-style: normal
	color: white
	padding-top: calc(2em/2 - 6px)
	&--tablet-landscape
		display: none
	&__content
		width: 33%
		display: inline-block
		&--middle
			text-align: center
		&--right
			text-align: right
.fa
	font-size: 1.2em
	margin-right: 0.5em
	margin-left: 1em
@media screen and (max-width:800px)
	.contacts
		display: none
		&--tablet-landscape
			display: flex
			background-color: $darkercolor
			color: white
		&__content
			min-width: 100%
			padding: 1em 0
