.v2header
	width: 100%
	background-color: black
	padding: 0.5em 1em
	color: $accentcolor
	position: fixed
	z-index: 5
	&__wrapper
		width: 100%
		max-width: $contw
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
		font-family: Roboto
		font-size: 0.8em
